 
NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
BASE_URL=https://wl-v1-dev-api.noon-iraq.com/

X_API_KEY=728b2e74f6b7ceebe2ff91ff6a32fc6d169a51ccf063074190a206bc09634c7d

SECRET= 
NEXT_PUBLIC_SECRET= 

#  firebase configuration
VAPID_KEY= 
apiKey= 
authDomain= 
projectId= 
storageBucket= 
messagingSenderId= 
appId= 
measurementId= 
